{
  "extends": "@antfu",
  "rules": {
    "antfu/if-newline": "off",
    "@typescript-eslint/brace-style": "off",
    "@typescript-eslint/consistent-type-definitions": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ],
    "curly": "off",
    "import/order": "off",
    "no-alert": "off",
    "no-console": "off",
    "vue/component-tags-order": "off",
    "vue/attributes-order": "off",
    "vue/singleline-html-element-content-newline": "off",
    "vue/html-closing-bracket-newline": "off",
    "vue/html-indent": "off",
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/indent": "off",
    "arrow-parens": "off",
    "operator-linebreak": "off"
  }
}